<input type="hidden" value='{% load static %}'>
<html>
    <link rel="stylesheet" href="{% static 'MCA/styles.css' %}">
    <script src="https://0gaurav4.github.io/BBDU/MCA/static/MCA/style.js"></script>
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <head>
            <title>Registration Form</title>
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <style>
                @media screen and (max-width: 1410px){
                    html, body {
                        height: fit-content;
                        font-size: 25px;
                        justify-content: space-around;
                        word-wrap: break-word;
                        margin-right: 30%;
                        margin-left: -10%;
                        line-height: 2;
                    }}
                </style>                             

            <script>
                function fun()
                {
                    alert("Name: "+form1.uname.value  +
                    "    Email: "+form1.email.value  + 
                    "    Gender: "+form1.gender.value  + 
                    "    Address: "+form1.address.value);
                    var a=(document.form1.password.value);
                    var b=(document.form1.cpassword.value);
                    if (a==b){
                        confirm("Registration Successful Submit")
                        window.location.href = "http://127.0.0.1:8000/Gaurav";
                        return true;

                    }
                    else 
                    {
                        alert("password not matched with confirm password");
                        document.getElementById("form1").reset();
                        return false;
                    }
                }
            </script>
        </head>
        <body style="background-color: rgb(0, 0, 0); color:azure;">
            <h3 style="margin-left: 40vw ;">Registration Form</h3>
            <div style="margin-left: 40vw ; margin-right: 90vw;">
            <form id="form1" name="form1" method="get" action="https://0gaurav4.github.io/BBDU/MCA/templates/MCA/temp.html" onsubmit="fun()">
            <fieldset>
            <legend>User Personal Information</legend> 
            <label for="uname">Enter your full name</label>
            <br>
            <input type="text" id="uname" name="uname" placeholder="yourname">
            <br>
            <label for="email">Enter your email</label>
            <br>
            <input type="email" id="email" name="email" placeholder="your@email.com">
            <br>
            <label for="password">Enter your password</label>
            <br>
            <input type="password" id="password" name="password" placeholder="....">
            <br>
            <label for="cpassword">Confirm your password</label>
            <br>
            <input type="password" id="cpassword" name="cpassword" placeholder="....">
            <br>
            <br>
            <label for="gender">Enter your Gender</label>
            <br>
            <input type="radio" name="gender" id="gender" value="male"> Male <br>
            <input type="radio" name="gender" id="gender" value="female"> Female <br>
            <input type="radio" name="gender" id="gender" value="others"> Others <br>
            <br>
            <label for="address">Enter your Address</label> 
            <br>
            <textarea name="address" id="address" cols="30" rows="3" placeholder="city,country"></textarea>
            <br>
            <input type="submit" value="Sign-up">
            <input type="reset" name="resert" value="Reset">
            </fieldset>
            </form>
        </div>

        <style>
            canvas {
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: -2;
            }
        </style>
        
        
        <!-- Canvas BG -->
        <canvas id="canvas"></canvas>
        <script src="/static/js/main.js" defer></script>
        
        
        <!-- Slick -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
            integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
            crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"
            integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
            integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!-- Tilt JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.0.3/tilt.jquery.min.js"
            integrity="sha512-14AZ/DxUrlF26z6v7egDkpJHKyJRn/7ue2BgpWZ/fmqrqVzf4PrQnToy99sHmKwzKev/VZ1tjPxusuTV/n8CcQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
        
        <script>
            $(document).ready(function () {
                
                // // Banner
                // var mousePointer = document.getElementsByClassName('mouse-moveable')
        
                // document.addEventListener('mousemove', function (e) {
                //     var x = e.pageY / window.innerHeight;
                //     x = x * -20;
        
                //     mousePointer[0].style.transform = 'translateY(' + x + '%)'
                // })
        
                // Service Tilt
                $('.js-tilt').tilt({
                    maxTilt: 20,
                    perspective: 1400,
                    // easing: "cubic-bezier(.03,.98,.52,.99)",
                    speed: 0,
                    glare: true,
                    maxGlare: 0.2,
                })
        
                $('.client-slider').slick({
                    infinite: true,
                    slidesToShow: 6,
                    slidesToScroll: 1,
                    arrows: false,
                    dots: false,
                    responsive: [
                        {
                            breakpoint: 800,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                infinite: true,
                                dots: false,
                                autoplay: true,
                                autoplaySpeed: 2000,
                            }
                        },
                    ]
                });
        
                $('.review-slider').slick({
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: false,
                    dost: true
                })
        
                var tl = new TimelineMax({ repeat: -1, repeatDelay: 5 });
        
                // FAQ
                const accItems = document.querySelectorAll(".accordion__item");
                accItems.forEach((acc) => acc.addEventListener("click", toggleAcc));
                function toggleAcc() {
                    // remove active class from all items exept the current item (this)
                    // accItems.forEach((item) => item != this ? item.classList.remove("accordion__item--active") : null
        
                    // toggle active class on current item
                    if (this.classList != "accordion__item--active") {
                        this.classList.toggle("accordion__item--active");
                    }
                }
        
            })
        
        </script>
        

           </body>
    </html>
