<html>
    <script>
        var a = document.URL.includes("https://0gaurav4.github.io/BBDU/MCA/templates/MCA/greet.html?uname=&email=&password=&cpassword=&address=");
                if (a){
                    alert("Something went wrong!");
                    window.location.href = "https://0gaurav4.github.io/BBDU/MCA/templates/MCA/index.html";
                }
                else{
                    pop("Registration successfull");
                    window.location.href = "https://0gaurav4.github.io/BBDU/MCA/templates/MCA/greet.html";
                }
        </script>
        </html>